@import url('https://fonts.googleapis.com/css2?family=Playwrite+CO+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding:0;
   font-family: "Ubuntu", serif;
   box-sizing: border-box;
}
body{
   background-color: #effbfc;
}


.header{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: space-between;
    background: linear-gradient(to right, rgb(234, 246, 250) 2%, rgb(213, 240, 249) 10%, rgb(200, 241, 250) 20%);
   align-items: center;
   width: 100%;
   height: 80px;
}

.left-nav img{
    width: 80px;
    box-shadow: rgba(68, 157, 247, 0.2) 0px 8px 24px;
    border: 1px solid rgb(225, 249, 249);
    border-radius: 50%;
    margin-left:10px;
    transition: transform 0.5s ease, background-color 0.3s ease;
}

.left-nav img:hover{
    cursor: pointer;
transform: scale(1.2);
}
.navbar{
    display: flex;
    gap: 90px;
}
.right-nav{
    margin-right: 100px;
}
.right-nav a{
    color: rgb(86, 170, 206);
    text-decoration: none;
    font-size: 25px;
    transition:transform 0.5s ease, background-color 0.3s ease;
    
}
.right-nav a:hover{
    text-shadow: 2px 2px 2px rgb(132, 210, 244), -2px -2px 2px rgb(90, 156, 214);
    color: rgb(35, 84, 115);
    transform: scale(1.1);
}

/* Styling search bar */
.search-bar {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    max-width: 500px;
  }
  
  /* Search Input Field */
  #search-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 0 5px; 
    outline: none;
    transition: 0.3s ease;
  }
  
  #search-input:focus{
    border-color: #95f1df; 
    box-shadow: 0 0 3px #94ecdb;
  }
  
  /* Search Button */
  #search-button {
    padding: 10px 15px;
    font-size: 1rem;
    color: white;
    background-color: #00ccff;
    border: none;
    border-radius: 0 5px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  #search-button:hover {
    background-color: #0099cc;
  }
  
  /* imgaes sliding */
.slider {
    width: 100%;
    /* height: 300px;  */
    overflow: hidden; 
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  /* Slides Container */
  .slides {
    display: flex;
    margin-top: 20px;
    display: flex;
    gap: 20px;
  
    width: calc(200%);
    animation: slide 40s linear infinite; 
  }
  
  /* Individual Images */
  .slides img {
    width: 100%;
    height: 400px; 
    /* height: 100%; */
    object-fit: cover; 
  }
  
  .first-slide{
    display: flex;
    align-items: center;
    gap: 140px;
     /* border: 1px solid grey; */
     margin-top: 40px;
     margin-bottom: 30px;
     animation: left-right 40s linear infinite; 
  }
  hr{
   
    border: 0.01px solid #b6d5dc;
    /* background-color: #ff5733; */
  }
  .first-slide img{
    width: 110px;
    background-color: white;
    border-radius:  5px;
    padding: 12px;
    border: 1px solid rgb(219, 243, 247);
  }
  .second-slide{
    display: flex;
    align-items: center;
    gap: 140px;
    margin-top: 30px;
    /* border: 1px solid grey; */
    animation: right-left 10s linear infinite;
  }
  .second-slide img{
    background-color: white;
    width: 110px;
    padding: 12px;
    border: 1px solid rgb(207, 244, 250);
    border-radius:  5px;
  }


  /* Sliding Animation */
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    25% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(-200%);
    }
    75% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  /* left to right */
  @keyframes left-right {
    2% {
        transform: translateX(0%);
      }
     
      25% {
          transform: translateX(-100%);
        }
        50% {
          transform: translateX(-200%);
        }
       
      95% {
        transform: translateX(100%);
      }
    }
  /* right-left */
  @keyframes right-left {
    0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
  }
